@use "_variables.scss" as *;

section.about img {
    float: right;
    margin: 12px;
    margin-right: 0.8rem;
    height: 400px;
    aspect-ratio: 1/1;
    box-shadow: 0.5rem -0.5rem 0 $black, 
        -0.4rem 0.6rem 0 $pink,
        0.8rem 0.4rem 0 $pea-green,
        -0.6rem -0.3rem 0 $orange;
    }