@use "_variables.scss" as *;

.border-container {
    .border {
        content: '';
        z-index: 100;
        position: fixed;
    }
    .top {
        top: 0;
        right: 0;
        left: 0;
    }
    .right {
        top: 0;
        right: 0;
        bottom: 0;
    }
    .bottom {
        right: 0;
        bottom: 0;
        left: 0;
    }
    .left {
        top: 0;
        bottom: 0;
        left: 0;
    }
}

.inner.border-container {
    .border {
        z-index: 101;
        background: $black;
    }
    .right,
    .left { width: 23px; }
    .top,
    .bottom{ height: 23px; }
}

.outer.border-container {
    .border {
        z-index: 102;
        background: $pea-green;
    }
    .right,
    .left { width: 20px; }
    .top,
    .bottom{ height: 20px; }
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $off-white;
}