@use "_variables.scss" as *;

html {
    font-family: $body-font;
    font-size: 62.5%;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

// section { width: 100%; }

.wrapper {
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}