@use '_variables.scss' as *;

html { background-color: $bg; }

.texture {
    -webkit-mask-image: url('../assets/photos/texture.png');
    mask-image: url('../assets/photos/texture.png');
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 70%;
}

main { padding-top: 2rem; }

ul { list-style-type: square; }
li { padding: 0.5rem 0; }