@use "_variables.scss" as *;

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    min-height: 100vh;
    padding: 12vh 0;
}

.wrapper {
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
}