@use "_variables.scss" as *;

section.opening-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg#hero {
    .peaGreen { fill:$pea-green; }
    .orange { fill:$orange; }
    .pink { fill:$pink; }
    .black { fill: $black; }
    .white { fill:$white; }
    .developer {
      font-family: Oi-Regular, Oi;
      font-size: 142px;
    }
    .first,
    .last {
      font-family: Outfit-Black, Outfit;
      font-size: 72px;
      font-variation-settings: 'wght' 900;
      font-weight: 800;
    }
  }

.opening-page nav,
.the-collab-lab nav{
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10vh;
        li:first-child:hover,
        li:first-child:focus { background-color: $green; }
        li:nth-child(2):hover,
        li:nth-child(2):focus { background-color: $orange; }
        li:last-child:hover,
        li:last-child:focus { background-color: $pea-green; }
    }
    li {
        width: 22%;
        background-color: $black;
        border-radius: 2px;
        border: solid 1px $white;
        padding: 12px 20px;
        text-align: center;
        transition: 0.3s;
        a {
            font-family: $header-font;
            font-size: 2.5rem;
            color: $white;
            text-decoration: none;
            }
    }
}