@use "_variables.scss" as *;

.the-collab-lab nav {
    //also see nav styling in _opening-page.scss
    ul {
        li:first-child:hover,
        li:first-child:focus { background-color: $pink; }
        li:nth-child(2):hover,
        li:nth-child(2):focus { background-color: $orange; }
    }
    li { min-width: 20%; }
}