//fonts
$body-font: "Space Grotesk", sans-serif;
$header-font: "Outfit", sans-serif;

//colors
$bg: #DEE481;
$black: #2d2e2b;
$white: #ebe7de;
$link:  #296d98;
$h3: #89823d;
$h2: #C74375;
$body: #2d2e2b;

