//fonts
$pop-font: "Oi", cursive;
$header-font: "Outfit", sans-serif;
$body-font: "Space Grotesk", sans-serif;

//colors
$off-white: rgba(216, 210, 191, 1.00);
$black: rgba(45, 45, 43, 1.00);
$pea-green: rgba(171, 165, 21, 1.00);
$green: rgba(121, 161, 133, 1.00);
$pink: rgba(170, 92, 128, 1.00);
$orange: rgba(237, 109, 49, 1.00);
$blue: rgba(15, 111, 154, 1.00);
$red: rgba(211, 42, 24, 1.00);
