@use "var" as *;

section#contact {
    min-height: auto;
    background-color: $off-white;
}

ul.contacts {
    display: flex;
    justify-content: center;
    li {
        padding: 20px 10px 0 10px;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    background: $black;
}