@use "var" as *;

.contact-section {
    min-height: auto;
    background-color: $black;
}

ul.contacts {
    display: flex;
    justify-content: center;
    li {padding: 20px 10px 0 10px;}
}

footer {
    display: flex;
    justify-content: flex-end;
    background: $black;
}