@use "var" as *;

//general styles
html {
    background-color: $background-white;
    color: $black;
    font-family: $body-font;
    font-size: 62.5%;
}

.wrapper {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

section {
    min-height: 90vh;
    padding: 50px 0;
}

img{
    display: block;
    object-fit: cover;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

//header fonts
h1,
h2,
h3 {
    margin: 0;
    color: $white;
    font-family: $header-font;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    text-transform: lowercase;
    text-align: left;
}

h2 {
    color: $black;
    font-size: 4rem;
    letter-spacing: 0.4rem;
    &.time {color: $white;}
}

h3 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

.opening-text h3 {color: $black;}

h3:nth-of-type(2) {margin-top: 20px;}

.contact-text h3 {text-align: center;}

//body fonts
p,
.passions li {
    font-size: 1.5rem;
    margin: 7px 0;
}

.passions li {
    text-indent: -2rem;
    padding-left: 2rem;
}

.passions:last-child p {margin-bottom: 0;}

.contact-text p {
    margin: 0;
    color: $white;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: lowercase;
    text-align: center;
}

//links
a {text-decoration: none;}

header a {
    transition: 0.3s;
    &:hover,
    &:focus {
        text-decoration: none;
        opacity: 0.5;
    }
}

//icons
header i {
    color: $white;
    font-size: 2rem;
    transition: 0.3s;
    &:hover,
    &:focus {
        opacity: 0.5;
    }
}

.tech-stack{
    i {
        font-size: 5rem;
        transition: 0.3s;
    }
    p {
        margin: 0;
        font-size: 1rem;
        text-align: center;
        transition: 0.3s;
    }
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(10),
    li:nth-child(13) {
        i {
        font-size: 3rem;
        padding: 5px;
    }
    }
    li:nth-child(5):hover,
    li:nth-child(5):focus {
        color: $orange;
    }
    li:nth-child(6):hover,
    li:nth-child(6):focus {
        color: $green;
    }
    li:nth-child(10):hover,
    li:nth-child(10):focus {
        color: $orange;
    }
    li:nth-child(12):hover,
    li:nth-child(12):focus {
        color: $white;
        opacity: 0.8;
    }
    li:nth-child(13):hover,
    li:nth-child(13):focus {
        color: $dark-green;
    }
}

.contacts {
    i {
        color: $black;
        font-size: 2.7rem;
        transition: 0.3s;
        &:hover,
        &:focus {
            opacity: 0.5;
        }
    }
}

//footer
footer {
    text-align: center;
    p {
        margin: 0;
        padding: 5px 0;
        color: $black;
        font-size: 1rem;
    }
}