@use "var" as *;
header {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: $green;
    background: $gradient;
    background-attachment: fixed;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-links {
    display: flex;
    justify-content: space-between;
    a i {padding: 10px;}
}

