@use "var" as *;

// Small desktops
@media (max-width: 1130px) {
    .wrapper {width: 90%;}
    .about-section .img-container {width: 40%;}
    .about-text {width: 60%;}
    .project-card .project-background {height: 80%;}
}

// Portrait tablet and small desktops
@media (max-width: 990px) {
    //fonts
    h1 {font-size: 3.5rem;}
    h2 {
        font-size: 3.5rem;
        &:first-child {margin-bottom: 1rem;}
        &:last-child {
            font-size: 2rem;
            letter-spacing: 0.3rem;
        }
    }
    h2.opener-title {font-size: 5rem;}
    h3 {font-size: 2.7rem;}
    h4 {font-size: 3.2rem;}
    .projects i {font-size: 3rem;}
    //about section
    .about-section .left {margin-right: 15px;}
    //project section
    .project-card .project-background {display: none;}
    .project.wrapper {
        padding: 15px;
        background-color: $main;
        &.right-corner {border-radius: 2px 40px 2px 2px;}
        &.left-corner {border-radius: 2px 2px 2px 40px;}
    }
    .project-card {
        margin-top: 40px;
        &:first-child {margin-top: 0;}
        .img-container {
            img {
                width: 100%;
                height: 100%;
            }
            .img-background {display: none;}
        }
        .right {margin-left: 15px;}
        .left {margin-right: 15px;}
    }
    .project-desc {padding-left: 15px;}
    //footer section
    footer {
        flex-direction: column;
        align-items: center;
    }
}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
    //remove position fixed backgrounds
    section.opener-section,
    .img-background {
        background-attachment: scroll;
    }
    .projects-section {
        background: $background-img-tile;
        background-attachment: inherit;
        background-size: contain;
        background-repeat: repeat-y;
    }
    header {background: $main;}
    //fonts
    h1,
    h2 {font-size: 3rem;}
    h3,
    h4 {letter-spacing: 0.3rem;}
    h3 {font-size: 2.2rem;}
    h4 {font-size: 2.6rem;}
    .contact-text h3 {
        font-size: 2rem;
        line-height: 3rem;
    }
    //reduce nav links
    nav .contact-links li:nth-last-child(-n + 2)  {display: none;}
    //icons
    header i {font-size: 1.7rem;}
    .skill{
        i {font-size: 4rem;}
        &.with-p p {font-size: 0.8rem;}
    }
    .projects i {font-size: 2.7rem;}
    //about section
    .about-section {
        .wrapper {flex-direction: column;}
        .left {
            width: 55%;
            margin: 0;
            margin-bottom: 15px;
            img,
            .img-background {border-radius: 10% 0.5% 0.5% 0.5%;}
        }
        .about-text {
            width: 100%;
            border-radius: 2px 2px 40px 2px;
        }
    }
}

// Landscape phones and down
@media (max-width: 480px) {
    //fonts
    h1,
    h2,
    h3 {letter-spacing: 0.3rem;}
    h1 {font-size: 2rem;}
    h2 {
        font-size: 2rem;
        &:last-child {font-size: 1.7rem;}
    }
    h2.opener-title {font-size: 2.7rem;}
    h4 {font-size: 2.2rem;}
    .contact-text h3 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    //about section
    .about-section {
        .left {width: 80%;}
        .about-text {
            width: 100%;
            padding: 15px 20px;
        }
    }
    //project section
    .project.wrapper {
        flex-direction: column;
        &.right-corner {flex-direction: column-reverse;}
        &.left-corner {border-radius: 2px 40px 2px 2px;}
        .img-container {
            width: 100%;
            margin: 0;
            padding-bottom: 15px;
            &.left img{border-radius: 0.5% 10% 0.5% 0.5%;}
        }
        .project-desc {
            width: 97%;
            padding: 0;
        }
    }
}

// Min width
@media (max-width: 320px) {
    h2.opener-title {font-size: 1.7rem;}
    h3 {font-size: 2rem;}
    .about-section .left {width: 100%;}
}