@use "var" as *;

section#opener {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: $green;
    background: $gradient;
    background-attachment: fixed;
    .opening-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 70vh;
    }

}