@use "var" as *;

section#opener {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: $purple;
    background: $opener-background-img;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    .opening-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 70vh;
    }
    .opening-text-no-wrapper {
        background-color: $black;
        margin: 3px 0;
        padding: 5px 0;
    }
}