@use "var" as *;

section#projects {
}

.background {
  background-color: $off-white;
  background-image: $background-img;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

  ul.projects {
    li {
      width: 100%;
      min-height: 40vh;
      margin-top: 10px;
      border-radius: 2px 2px 2px 2px;
      padding: 20px 40px;
      background-color: $white;
    }
    :nth-child(1){
      margin-top: 0;
      border-top-right-radius: 40px;
    }
    :nth-child(2){border-bottom-left-radius: 40px;}
  }