//fonts
$header-font: 'Syne', sans-serif;
$body-font: Verdana;

//colors
$background-white: rgba(253, 253, 253, 1.00);
$white: rgba(255, 255, 255, 1.00);
$black: rgba(34, 34, 34, 1.00);
$dark-green: rgba(66, 114, 96, 1.00);
$green: rgba(89,172,161,1);
$pink: rgba(215,139,127,1);
$orange: rgba(250,182,79,1);
$red: rgba(241, 51, 43, 1.00);