//fonts
$header-font: 'Syne', sans-serif;
$body-font: Verdana;

//colors
$white: rgba(253, 253, 253, 1.00);
$black: rgba(45, 45, 43, 1.00);
$main: rgba(90, 132, 107, 1.00);

//tech-stack icon colors:
$github: rgba(110, 84, 148, 1.00);
$pink: rgba(214, 133, 165, 1.00);
$yellow: rgba(244, 207, 112, 1.00);
$blue: rgba(5, 163, 240, 1.00);

//background image
$background-img: url("../assets/josep-martins-9lGNHu1FMvM-unsplash.jpg");