//fonts
$header-font: 'Syne', sans-serif;
$body-font: Verdana;

//colors
$white: rgba(253, 253, 253, 1.00);
$off-white: rgba(216, 211, 200, 1.00);
$black: rgba(45, 45, 43, 1.00);
$purple: rgba(131, 99, 118, 1.00);
$pink: rgba(214, 133, 165, 1.00);
$green: rgba(140, 159, 144, 1.00);

//other brand colors:
$github: rgba(110, 84, 148, 1.00);

//backgrounds & images
$opener-background-img: url("../assets/photo-1624252628211-bef222b22eb5.jpeg");
$background-img: url("../assets/photo-1524351543168-8e38787614e9.jpeg");