html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: rgb(253, 253, 253);
  color: rgb(45, 45, 43);
  font-family: "Crimson Text", serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

section {
  min-height: 90vh;
  padding: 50px 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: rgb(45, 45, 43);
  font-family: "Homemade Apple", cursive;
  letter-spacing: 0.4rem;
  text-transform: lowercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}
h2:first-child {
  margin-bottom: 1.5rem;
}
h2:last-child {
  font-size: 2.7rem;
}

h2.opener-title {
  color: rgb(253, 253, 253);
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
h3:nth-of-type(2) {
  margin-top: 20px;
}

.contact-text h3 {
  color: rgb(253, 253, 253);
  text-align: center;
  line-height: 4rem;
}

h4 {
  font-size: 3.5rem;
}

.tech-stack-section h4 {
  color: rgb(253, 253, 253);
}

p,
.passions li {
  font-size: 1.7rem;
  margin: 7px 0;
}

ul.passions {
  margin-left: 1.5rem;
}

.passions:last-child p {
  margin-bottom: 0;
}

.contact-text p {
  margin: 0;
  margin-top: 17px;
  color: rgb(253, 253, 253);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 5px;
  color: rgb(253, 253, 253);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(45, 45, 43);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  opacity: 0.5;
}

header i {
  font-size: 2rem;
}

.skill {
  color: rgb(253, 253, 253);
}
.skill i {
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skill.with-p i {
  font-size: 3rem;
  padding: 5px;
}
.skill.with-p p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skill.github:hover, .skill.github:focus {
  color: rgb(110, 84, 148);
}

.tech-stack li:nth-child(5):hover,
.tech-stack li:nth-child(5):focus,
.tech-stack i.api:hover,
.tech-stack i.api:focus {
  color: rgb(90, 132, 107);
}
.tech-stack li:nth-child(6):hover,
.tech-stack li:nth-child(6):focus {
  color: rgb(220, 63, 76);
}
.tech-stack li:nth-child(10):hover,
.tech-stack li:nth-child(10):focus {
  color: rgb(244, 207, 112);
}
.tech-stack li:nth-child(13):hover,
.tech-stack li:nth-child(13):focus,
.tech-stack i.paired:hover,
.tech-stack i.paired:focus {
  color: rgb(214, 133, 165);
}

.projects i {
  color: rgb(45, 45, 43);
  font-size: 3.5rem;
}

.projects a i.fa-solid {
  font-size: 2.5rem;
}

.projects a i.fa-brands {
  font-size: 2.7rem;
}

.contacts i {
  font-size: 3rem;
  color: rgb(253, 253, 253);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

section.opener-section,
header,
.projects-section,
.img-background {
  background: rgb(253, 253, 253);
  background: url("../assets/rohro-clark-Jgdbp3pPj9Q-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

section.opener-section,
header,
.img-background {
  position: absolute;
}

.img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  aspect-ratio: 1/1;
}
.img-container img {
  z-index: 2;
  width: 97%;
  height: 97%;
}
.img-container .img-background {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.right {
  margin-left: 40px;
}
.right img,
.right .img-background {
  border-radius: 0.5% 10% 0.5% 0.5%;
}

.left {
  margin-right: 40px;
}
.left img,
.left .img-background {
  border-radius: 0.5% 0.5% 0.5% 10%;
}

section.opener-section {
  z-index: 10;
  width: 100%;
  height: 100vh;
}
section.opener-section .opening-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70vh;
}
section.opener-section .opening-text-no-wrapper {
  background-color: rgb(45, 45, 43);
  margin: 10px 0;
  padding: 7px 0;
}

header {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  padding: 10px 0;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-links a i {
  padding: 10px;
}

.anchor {
  display: block;
  visibility: hidden;
}

.jump-padding {
  height: 20px;
}

.about-section {
  padding-top: 105vh;
  background-color: rgb(116, 193, 219);
}
.about-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-section .img-container {
  width: 30%;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border-radius: 2px 40px 2px 2px;
  padding: 20px 40px;
  background-color: rgb(253, 253, 253);
}

ul.passions li {
  list-style-type: disc;
}

.tech-stack-section {
  background-color: rgb(45, 45, 43);
  min-height: auto;
}

ul.tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul.tech-stack li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  margin: 3px;
  padding: 5px;
}
ul.tech-stack li.with-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-section {
  padding-top: 0;
}

.project-header {
  background-color: rgb(116, 193, 219);
  padding: 15px 0;
  margin-bottom: 50px;
}

.project-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-card .project-background {
  position: absolute;
  z-index: 1;
  height: 70%;
  width: 100%;
  background-color: rgb(116, 193, 219);
}
.project-card .wrapper {
  z-index: 2;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-desc {
  width: 60%;
}

ul.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}
ul.project-links li {
  padding-right: 20px;
}
ul.project-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.project-links li a i {
  padding-right: 7px;
}

.project-desc .tech-stack {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.project-desc .tech-stack li {
  width: auto;
}
.project-desc .tech-stack li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.contact-section {
  min-height: auto;
  background-color: rgb(45, 45, 43);
}

ul.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.contacts li {
  padding: 20px 10px 0 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgb(45, 45, 43);
}

@media (max-width: 1130px) {
  .wrapper {
    width: 90%;
  }
  .about-section .img-container {
    width: 40%;
  }
  .about-text {
    width: 60%;
  }
  .project-card .project-background {
    height: 80%;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h2:first-child {
    margin-bottom: 1rem;
  }
  h2:last-child {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  h2.opener-title {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 3.2rem;
  }
  .projects i {
    font-size: 3rem;
  }
  .about-section .left {
    margin-right: 15px;
  }
  .project-card .project-background {
    display: none;
  }
  .project.wrapper {
    padding: 15px;
    background-color: rgb(116, 193, 219);
  }
  .project.wrapper.right-corner {
    border-radius: 2px 40px 2px 2px;
  }
  .project.wrapper.left-corner {
    border-radius: 2px 2px 2px 40px;
  }
  .project-card {
    margin-top: 40px;
  }
  .project-card:first-child {
    margin-top: 0;
  }
  .project-card .img-container img {
    width: 100%;
    height: 100%;
  }
  .project-card .img-container .img-background {
    display: none;
  }
  .project-card .right {
    margin-left: 15px;
  }
  .project-card .left {
    margin-right: 15px;
  }
  .project-desc {
    padding-left: 15px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  section.opener-section,
.img-background {
    background-attachment: scroll;
  }
  .projects-section {
    background: url("../assets/rohro-clark-Jgdbp3pPj9Q-unsplash-tile.jpg");
    background-attachment: inherit;
    background-size: contain;
    background-repeat: repeat-y;
  }
  header {
    background: rgb(116, 193, 219);
  }
  h1,
h2 {
    font-size: 3rem;
  }
  h3,
h4 {
    letter-spacing: 0.3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  .contact-text h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
  nav .contact-links li:nth-last-child(-n+2) {
    display: none;
  }
  header i {
    font-size: 1.7rem;
  }
  .skill i {
    font-size: 4rem;
  }
  .skill.with-p p {
    font-size: 0.8rem;
  }
  .projects i {
    font-size: 2.7rem;
  }
  .about-section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .left {
    width: 55%;
    margin: 0;
    margin-bottom: 15px;
  }
  .about-section .left img,
.about-section .left .img-background {
    border-radius: 10% 0.5% 0.5% 0.5%;
  }
  .about-section .about-text {
    width: 100%;
    border-radius: 2px 2px 40px 2px;
  }
}
@media (max-width: 480px) {
  h1,
h2,
h3 {
    letter-spacing: 0.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h2:last-child {
    font-size: 1.7rem;
  }
  h2.opener-title {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  .contact-text h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .about-section .left {
    width: 80%;
  }
  .about-section .about-text {
    width: 100%;
    padding: 15px 20px;
  }
  .project.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project.wrapper.right-corner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .project.wrapper.left-corner {
    border-radius: 2px 40px 2px 2px;
  }
  .project.wrapper .img-container {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
  .project.wrapper .img-container.left img {
    border-radius: 0.5% 10% 0.5% 0.5%;
  }
  .project.wrapper .project-desc {
    width: 97%;
    padding: 0;
  }
}
@media (max-width: 320px) {
  h2.opener-title {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 2rem;
  }
  .about-section .left {
    width: 100%;
  }
}