html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: rgb(253, 253, 253);
  color: rgb(45, 45, 43);
  font-family: Verdana;
  font-size: 62.5%;
}

.wrapper {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

section {
  min-height: 90vh;
  padding: 50px 0;
}

.full-bleed {
  min-height: 10vh;
  background-color: rgb(45, 45, 43);
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  color: rgb(45, 45, 43);
  font-family: "Syne", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  text-transform: lowercase;
  text-align: left;
}

h2.opener-title {
  color: rgb(253, 253, 253);
  font-size: 6rem;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

h3:nth-of-type(2) {
  margin-top: 20px;
}

.contact-text h3 {
  text-align: center;
}

.projects h3,
.projects p,
.projects i {
  color: rgb(253, 253, 253);
}

p,
.passions li {
  font-size: 1.5rem;
  margin: 7px 0;
}

ul.passions {
  margin-left: 1.5rem;
}

.passions:last-child p {
  margin-bottom: 0;
}

.contact-text p {
  margin: 0;
  color: rgb(45, 45, 43);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  text-align: center;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  opacity: 0.5;
}

header i {
  color: rgb(45, 45, 43);
  font-size: 2rem;
}

.skill {
  color: rgb(253, 253, 253);
}
.skill i {
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skill p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skill.github:hover, .skill.github:focus {
  color: rgb(110, 84, 148);
}
.skill.with-p i {
  font-size: 3rem;
  padding: 5px;
}

.tech-stack li:nth-child(5):hover,
.tech-stack li:nth-child(5):focus {
  color: rgb(140, 159, 144);
}
.tech-stack li:nth-child(6):hover,
.tech-stack li:nth-child(6):focus {
  color: rgb(131, 99, 118);
}
.tech-stack li:nth-child(10):hover,
.tech-stack li:nth-child(10):focus {
  color: rgb(216, 211, 200);
}
.tech-stack li:nth-child(13):hover,
.tech-stack li:nth-child(13):focus {
  color: rgb(214, 133, 165);
}

.contacts i {
  color: rgb(45, 45, 43);
  font-size: 2.7rem;
}

.projects i {
  font-size: 2.7rem;
}

.projects a i.fa-solid {
  font-size: 2.5rem;
}

footer p {
  margin: 0;
  padding: 5px;
  color: rgb(131, 99, 118);
  font-size: 1rem;
}

section#opener {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgb(131, 99, 118);
  background: url("../assets/photo-1624252628211-bef222b22eb5.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
section#opener .opening-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70vh;
}
section#opener .opening-text-no-wrapper {
  background-color: rgb(45, 45, 43);
  margin: 3px 0;
  padding: 5px 0;
}

header {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background: rgb(131, 99, 118);
  background: url("../assets/photo-1624252628211-bef222b22eb5.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-links a i {
  padding: 10px;
}

.anchor {
  display: block;
  visibility: hidden;
}

section#about {
  padding-top: 110vh;
  background-color: rgb(131, 99, 118);
}
section#about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jump-padding {
  height: 20px;
}

.about-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 30vw;
  margin-right: 15px;
}
.about-img img.olivia {
  position: absolute;
  z-index: 2;
  border-radius: 2px 2px 2px 40px;
  width: 97%;
  height: 97%;
}
.about-img .img-cutout {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 2px 40px;
  background-color: rgb(216, 211, 200);
  background: url("../assets/photo-1624252628211-bef222b22eb5.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border-radius: 2px 40px 2px 2px;
  padding: 20px 40px;
  background-color: rgb(216, 211, 200);
}

ul.passions li {
  list-style-type: square;
}

ul.tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul.tech-stack li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  margin: 3px;
  padding: 5px;
}
ul.tech-stack li.with-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.project-card .full-bleed {
  position: absolute;
  height: 70%;
  width: 100vw;
  z-index: -1;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-desc {
  width: 70%;
}

.project-desc .tech-stack {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.project-desc .tech-stack li {
  width: auto;
}
.project-desc .tech-stack li:first-child {
  margin-left: 0;
  padding-left: 0;
}

ul.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}
ul.project-links li {
  padding-right: 20px;
}
ul.project-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.project-links li a i {
  padding-right: 7px;
}

.project-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 30vw;
  margin-left: 15px;
}
.project-img img.project {
  position: absolute;
  z-index: 2;
  border-radius: 2px 40px 2px 2px;
  width: 97%;
  height: 97%;
}
.project-img .img-cutout {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px 40px 2px 2px;
  background-color: rgb(216, 211, 200);
  background: url("../assets/photo-1624252628211-bef222b22eb5.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

section#contact {
  min-height: auto;
  background-color: rgb(216, 211, 200);
}

ul.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul.contacts li {
  padding: 20px 10px 0 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgb(45, 45, 43);
}